EMAIL_ADDRESS= your-email@example.com
EMAIL_PASSWORD= your-email-app_password
RECIPIENT_ADDRESS= recipient-email@example.com
RECIPIENT_PASSWORD= recipient-email-app_password
SMTP_SERVER= smtp.example.com
SMTP_PORT=
IMAP_SERVER= imap.example.com
IMAP_PORT= 
